.nav, .pagination, .carousel, .panel-title, a { cursor: pointer !important; }




/*#cover{ 
    position:fixed; 
    top:0; 
    left:0; 
    background:rgba(0,0,0,0.6); 
    z-index:5; 
    width:100%; 
    height:100%; 
    display:block; 
} 




.loading-image {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px; 
    margin-top: -200px; 
}*/







span.search-label {
	font-size: 15px !important;
	font-size: 100% !important;
	margin-right: 10px;
}



#searchTable table {
width: 100%;
}

#searchTable thead, #searchTable tbody, #searchTable tr, #searchTable td, #searchTable th { 
display: block; 
}

#searchTable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#searchTable thead th {
    height: 30px;

}

#searchTable tbody {
    height: 800px;
    overflow-y: auto;
}



#searchTable tbody td, #searchTable thead th {
    width: 8%;
    float: left;
}