<table class="table" id="searchTable">
	<caption>
		Liste des réquisitions

	  <!-- <input type="text" class="form-control" autofocus placeholder="Effectuez un filtre sur votre recherce" ng-model="search"> -->
		<!-- Nombre de résultats: <strong>{{items.length}}</strong> -->
	</caption>
	<thead>
		<tr>
			<th style="width: 12%;">
				<a href="javascript:;"  ng-click="sortType = 'AccountingCode'; sortReverse = !sortReverse">
					Code
					<span ng-show="sortType == 'AccountingCode' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'AccountingCode' && sortReverse" class="fa fa-caret-up"></span>
				</a>
			</th>
			<th style="width: 11%;">
				<a href="javascript:;"  ng-click="sortType = 'Project'; sortReverse = !sortReverse">
					Projet
					<span ng-show="sortType == 'Project' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'Project' && sortReverse" class="fa fa-caret-up"></span>
				</a>
			</th>
			<th style="width: 6%;">
				<a href="javascript:;"  ng-click="sortType = 'WorkOrder'; sortReverse = !sortReverse">
					BT
					<span ng-show="sortType == 'WorkOrder' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'WorkOrder' && sortReverse" class="fa fa-caret-up"></span>
				</a>
			</th>
			<th style="width: 6%;">
				<a href="javascript:;"  ng-click="sortType = 'Requisition'; sortReverse = !sortReverse">
					R/S
					<span ng-show="sortType == 'Requisition' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'Requisition' && sortReverse" class="fa fa-caret-up"></span>
				</a>
			</th>
			<th style="width: 11%;">
				<a href="javascript:;"  ng-click="sortType = 'PurchaseOrder'; sortReverse = !sortReverse">
					F
					<span ng-show="sortType == 'PurchaseOrder' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'PurchaseOrder' && sortReverse" class="fa fa-caret-up"></span>
				</a>
			</th>
			<th style="width: 30%;">
				<a href="javascript:;"  ng-click="sortType = 'Description'; sortReverse = !sortReverse">
					Description
					<span ng-show="sortType == 'Description' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'Description' && sortReverse" class="fa fa-caret-up"></span>
				</a>
			</th>
			<th style="width: 14%;">
				<a href="javascript:;" ng-click="sortType = 'Company'; sortReverse = !sortReverse">
					Compagnie
					<span ng-show="sortType == 'Company' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'Company' && sortReverse" class="fa fa-caret-up"></span>
				</a>
			</th>
			<th style="width: 10%;">
				<a href="javascript:;" ng-click="sortType = 'Price'; sortReverse = !sortReverse">
					Prix
					<span ng-show="sortType == 'Price' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'Price' && sortReverse" class="fa fa-caret-up"></span>
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="r in items | orderBy:sortType:sortReverse" >
			<td style="width: 12%;"><a ng-click="params.AccountingCode = r.AccountingCode; search();"><span style="white-space: nowrap;">{{r.AccountingCode}}</span></a></td>
			<td style="width: 11%;"><a ng-click="params.Project = r.Project; search();">{{r.Project}}</a></td>
			<td style="width: 6%;"><a ng-click="params.WorkOrder = r.WorkOrder; search();" data-toggle="tooltip" data-placement="top" title="{{r.WorkOrderDescription}}">{{r.WorkOrder}}</a></td>
			<td style="width: 6%;"><a ng-click="params.Requisition = r.Requisition; search();">{{r.Requisition}}</a></td>
			<td style="width: 11%;"><a ng-click="params.PurchaseOrder = r.PurchaseOrder; search();">{{r.PurchaseOrder}}</a></td>
			<td style="font-size: 12px; width: 30%;">{{r.Description}}</td>
			<td style="font-size: 12px;width: 14%;"><a ng-click="params.Company = r.Company; search();">{{r.Company}}</a></td>
			<td style="text-align: right; width: 10%; padding-right: 20px;">{{ (r.Price).formatMoney(2) }}</td>
		</tr>
	</tbody>
</table>