<table class="table" ng-controller="TotalsCtrl">
	<tr>
		<td>
			<a ng-click="sendSearch('/requisitions')">Réquisitions</a>
		</td>
		<td style="text-align: right;">{{ reqTotal.formatMoney(2) }}$</td>
	</tr>
	<tr>
		<td>
			<a ng-click="sendSearch('/parts')">Pièces magasin</a>
		</td>
		<td style="text-align: right;">{{ partTotal.formatMoney(2) }}$</td>
	</tr>
	<tr>
		<td>
			<a ng-click="sendSearch('/mo')">Main d'oeuvre</a>
		</td>
		<td style="text-align: right;">{{ workHourTotal.formatMoney(2) }}$</td>
	</tr>
	<tr>
		<td>
			<a ng-click="sendSearch('/others')">Autres dépenses</a>
		</td>
		<td style="text-align: right;">{{ otherTotal.formatMoney(2) }}$</td>
	</tr>
	<tr>
		<td><h4 style="color: red;">Total</h4></td>
		<td style="text-align: right;color: red;"><h4>{{ (total()).formatMoney(2) }}$</h4></td>
	</tr>
</table>